<div class="card">
  <div class="card-header text-white bg-info">
    Movie-brary
  </div>
  <div class="card-body">

    <form (ngSubmit)="onSubmit()" [formGroup]="myForm">

      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label>Identification</label>
          <input type="number" class="form-control" placeholder="required"
          formControlName="id"
          [ngClass]="{'is-invalid': movie['id'].touched && !movie['id'].valid }">
          <div class="invalid-feedback">
            <span *ngIf="movie['id'].errors?.['required']">
              Entrer Identification Number
            </span>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="required"
          formControlName="title"
          [ngClass]="{'is-invalid': movie['title'].touched && !movie['title'].valid && submitted }">
          <div class="invalid-feedback">
            <span *ngIf="movie['title'].errors?.['required']">
              Enter a movie title
            </span>
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label>Type</label>
          <input type="text" class="form-control" placeholder="required"
          formControlName="type"
          [ngClass]="{'is-invalid': movie['type'].touched && !movie['type'].valid && submitted }">
          <div class="invalid-feedback">
            <span *ngIf="movie['type'].errors?.['required']">
              Enter a movie type
            </span>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label>Release year</label>
          <input type="number" class="form-control"
          formControlName="date"
          [ngClass]="{'is-invalid': movie['date'].touched && !movie['date'].valid && submitted }">
          <div class="invalid-feedback">
            <span *ngIf="movie['date'].errors?.['required']">
              Enter a release year
            </span>
            <span *ngIf="movie['date'].errors?.['min'] && movie['date'].errors?.['max'] ">
              Release year must be situated between 1900 and today
            </span>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Bio</label>
          <input type="text" class="form-control" placeholder="required"
          formControlName="bio"
          [ngClass]="{'is-invalid': movie['bio'].touched && !movie['bio'].valid && submitted }">
          <div class="invalid-feedback">
            <span *ngIf="movie['bio'].errors?.['required']">
              Enter a movie type
            </span>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-info" type="submit">
          Sauvegarder
        </button>
      </div>

    </form>

  </div>
</div>

<hr>

<p> Dirty: {{ myForm.dirty }}</p>
<p> Pristine : {{ myForm.pristine }}</p>
<p> Valid : {{ myForm.valid }}</p>
<p> Invalid : {{ myForm.invalid }}</p>
<pre> Value : {{ myForm.value | json }} </pre>
