<div class="card">
  <div class="card-header text-white bg-info">
    S'enregistrer
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveData()" [formGroup]="registerForm">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Nom</label>
          <input type="text" class="form-control" placeholder="Nom"
          formControlName="lastName"
          required minlength="4"
          [ngClass]="{'is-invalid': registerForm.get('lastName').touched && !registerForm.get('lastName').valid }">
          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('lastName').errors?.['required']">
              Entrez votre nom
            </span>
            <span *ngIf="registerForm.get('lastName').errors?.['minlength']">
              Minimum 4 caractères
            </span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Prénom</label>
          <input type="text" class="form-control" placeholder="Prénom"
          formControlName="firstName"
          required maxlength="20"
          [ngClass]="{'is-invalid': registerForm.get('firstName').touched && !registerForm.get('firstName').valid }">
          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('firstName').errors?.['required']">
              Entrez votre prénom
            </span>
            <span *ngIf="registerForm.get('firstName').errors?.['maxlength']">
              Pas plus de 20 caractères
            </span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>E-Mail</label>
          <input type="email" class="form-control" placeholder="E-Mail"
          formControlName="email"
          required email
          [ngClass]="{'is-invalid': registerForm.get('email').touched && !registerForm.get('email').valid }">
          <span *ngIf="registerForm.get('email').errors?.['required']">
            Entrez votre adresse e-mail
          </span>
          <span *ngIf="registerForm.get('email').errors?.['email']">
            Adresse e-mail invalide
          </span>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-12">
            <div class="form-check mt-4 pt-3">
              <label for="sendCatalogId" class="form-check-label">
                <input type="checkbox" class="form check-input">
                Oui, je souhaite recevoir la pub
              </label>
            </div>
          </div>
        </div>
        <div>
          <div class="form-row mb-3">
            <div class="col-md-12">
              <label for="">Adresse 1</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col-md-12">
              <label for="">Adresse 2</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for=""> Ville</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-3 mb-3">
            <label for=""> Departement</label>
            <select class="form-control">
              <option value=""> Selectionner un département</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="">Code postal</label>
            <input type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-info" type="submit">
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
</div>

<hr>

<p> Dirty: {{ registerForm.dirty }}</p>
<p> Pristine : {{ registerForm.pristine }}</p>
<p> Valid : {{ registerForm.valid }}</p>
<p> Invalid : {{ registerForm.invalid }}</p>
<pre> Value : {{ registerForm.value | json }}  </pre>
